body {
    background-color: #7a798b;
    background-image: url(./fuji.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
}
    div {
        display: flex;
        width: 80%;
        margin: 10%;
        height: 33vh;
        background-color: #00000050;
        border: 1px #7a798b;
        border-radius: 10px;
        justify-content: center;
    }
        div > div {
            background-color: #ffffff50;
            border-color: #ffffff50;
            width: 10%;
            height: 25vh;
            animation-iteration-count: infinite;
            animation-timing-function: steps(1);
            background-repeat: no-repeat;
            background-position: center;
        }
        div > div:nth-child(1) {
            margin: calc( ( 33vh - 25vh ) / 2 );
            animation-name: minutesb;
            animation-duration: calc( 60 * 60s );
        }
        @keyframes minutesb {
            0% { background-image: url(./0.png); }
            16.6% { background-image: url(./1.png); }
            33.3% { background-image: url(./2.png); }
            50% { background-image: url(./3.png); }
            66.6% { background-image: url(./4.png); }
            83.3% { background-image: url(./5.png); }
            100% { background-image: url(./0.png); }
        }
        div > div:nth-child(2) {
            margin: calc( ( 33vh - 25vh ) / 2 );
            animation-name: minutesa;
            animation-duration: calc( 60s * 10 );
        }
        div > div:nth-child(3) {
            background-color: #7a798b00;
            margin: 0%;
            margin-top: 10vh;
            width: 4%;
            color: #7a798b;
            font-size: 10vh;
        }
        @keyframes minutesa {
            0% { background-image: url(./0.png); }
            10% { background-image: url(./1.png); }
            20% { background-image: url(./2.png); }
            30% { background-image: url(./3.png); }
            40% { background-image: url(./4.png); }
            50% { background-image: url(./5.png); }
            60% { background-image: url(./6.png); }
            70% { background-image: url(./7.png); }
            80% { background-image: url(./8.png); }
            90% { background-image: url(./9.png); }
            100% { background-image: url(./0.png); }
        }
        div > div:nth-child(4) {
            margin: calc( ( 33vh - 25vh ) / 2 );
            animation-name: secondsb;
            animation-duration: 60s;
        }
        @keyframes secondsb {
            0% { background-image: url(./0.png); }
            16.6% { background-image: url(./1.png); }
            33.3% { background-image: url(./2.png); }
            50% { background-image: url(./3.png); }
            66.6% { background-image: url(./4.png); }
            83.3% { background-image: url(./5.png); }
            100% { background-image: url(./0.png); }
        }
        div > div:nth-child(5) {
            margin: calc( ( 33vh - 25vh ) / 2 );
            animation-name: secondsa;
            animation-duration: 10s;
        }
        @keyframes secondsa {
            0% { background-image: url(./0.png); }
            10% { background-image: url(./1.png); }
            20% { background-image: url(./2.png); }
            30% { background-image: url(./3.png); }
            40% { background-image: url(./4.png); }
            50% { background-image: url(./5.png); }
            60% { background-image: url(./6.png); }
            70% { background-image: url(./7.png); }
            80% { background-image: url(./8.png); }
            90% { background-image: url(./9.png); }
            100% { background-image: url(./0.png); }
        }
    body > div:nth-child(2) {
        float: left;
        display: inline-block;
        animation-name: bar;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        margin-top: 0%;
        height: 2vh;
    }
    @keyframes bar {
        from { width: 1%; background-color:#00000050;}
        to { width: 80%; background-color: #ffffff50;}
    }